@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,700,900&subset=latin,latin-ext);
@import url('font-awesome.min.css');

html, body
{
	
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color:#444;
	-webkit-font-smoothing: subpixel-antialiased !important;
}

input
{
	border: 0 none;
}

.form
{
	width: 400px;
	margin: 0 auto;
}

.form .form-control
{
	width: 100%;
	margin: 10px 0;
	padding: 5px;
	border: 1px #444 solid;
}

.form .form-control input
{
	width: 100%;
}

.form .buttons
{
	float: right;
}

.form .buttons button
{
	margin-top: 20px;
	width: 80px;
	height: 40px;
	border: 1px gray;
	background-color: white;
	color: #000;
	cursor: pointer;
}

.message
{
	position: relative;
    width: 99.8%;
    min-height: 20px;
    margin: 0px 0 20px 0;
    color: #666452;
}

.error
{
    border: 1px #C31B00 solid;
    border-radius: 4px;
    background: #ffcccc;
    color: #C31B00 !important;    
}

.error::before
{
	position: absolute;
	margin: 2.5% 0 0 -2%;
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f06a";
    color: #C31B00;
}

.error li
{
    display: block;
    padding: 5px;
}

.align-center
{
	text-align: center;;
}